* {
  box-sizing: border-box;
}

.radial-progress-bar {
  position: relative;
  width: 150px;
  height: 150px;
  background: lightgrey;
  border-radius: 50%;
}
.radial-progress-bar .right-half,
.radial-progress-bar .left-half,
.radial-progress-bar .left-half-mask,
.radial-progress-bar .inner-circle {
  position: absolute;
}
.radial-progress-bar .right-half,
.radial-progress-bar .left-half,
.radial-progress-bar .left-half-mask {
  height: 100%;
  width: 50%;
  border-radius: 75px 0 0 75px;
}
.radial-progress-bar .right-half,
.radial-progress-bar .left-half {
  background: steelblue;
  transform-origin: 100% 50%;
}
.radial-progress-bar .left-half-mask {
  background: lightgrey;
}
.radial-progress-bar .inner-circle {
  height: 130px;
  width: 130px;
  margin: 10px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
}
.radial-progress-bar .inner-circle .percentage {
  height: inherit;
  line-height: 130px;
  font-family: sans-serif;
  font-size: 30px;
  color: steelblue;
}
.radial-progress-bar .left-half {
  visibility: hidden;
}
